*{
    box-sizing: border-box;
    
}

body{
    background-color: #000000;
}
.header{
    display: flex;
    justify-content: center;
}

.header__nav{
    width: 1480px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.6);
}
.header__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.header__logo{
    width: 36px;
    height: 50px;
    margin-left: 62px;
}

.header__list-link{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    text-decoration: none;
    color: #FFFFFF;
}
.header_button{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    background-color: rgba(217, 217, 217, 0.79);
    color: #000000;
    border: none;
    border-radius: 30px;
    margin: 23px 30px 24px;
    padding: 15px 36px 14px; 
}
